:root {
    --custom-blue: #007acc;
}

body {
    background-color: #f4f6f9;
}

/* Used only in main page */
body.centered-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Override Bootstrap primary color */
.bg-primary {
    background-color: var(--custom-blue) !important;
}

.btn-primary {
    background-color: var(--custom-blue) !important;
    border-color: var(--custom-blue) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #0069b3 !important; /* Slightly darker for hover */
    border-color: #0069b3 !important;
}

.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.text-primary {
    color: var(--custom-blue) !important;
}

.progress-bar {
    background-color: var(--custom-blue) !important;
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: var(--custom-blue);
    box-shadow: 0 0 0 0.2rem rgba(0, 122, 204, 0.25);
}

/* Override focus shadow */
.form-control:focus {
    border-color: var(--custom-blue);
    box-shadow: 0 0 0 0.2rem rgba(0, 122, 204, 0.25);
}

/* Folder preview page styles */
.folder-card {
    transition: transform 0.3s ease;
}

.folder-card:hover {
    transform: scale(1.05);
}

.folder-icon {
    font-size: 3rem;
    color: var(--custom-blue);
}

/* Image preview page styles */
.image-grid-item {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-grid-item:hover {
    transform: scale(1.05);
}

.modal-image {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 2%;
}

.modal-backdrop {
    background-color: rgba(0,0,0,0.7);
}

/* Modal Back Button Styles */
.modal-back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    border: 2px solid white;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1060;
    transition: all 0.3s ease;
}

.modal-back-btn:hover {
    background-color: var(--custom-blue);
    transform: scale(1.1);
}
